GROUP_TOOL CURSOR "GROUP_TOOL.CUR"
HNDGRB_L CURSOR "HNDGRB_L.CUR"
HNDGRB_R CURSOR "HNDGRB_R.CUR"
HNDPIC_L CURSOR "HNDPIC_L.CUR"
HNDPIC_R CURSOR "HNDPIC_R.CUR"
LINE_TOOL CURSOR "LINE_TOOL.CUR"
LINKMARK BITMAP "LINKMARK.BMP"
PAINT_TOOL CURSOR "PAINT_TOOL.CUR"
SPUIT_TOOL CURSOR "SPUIT_TOOL.CUR"
